Production/Source/Schemas/commentforumlist.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:include schemaLocation="CommentForumListBase.xsd"/>
	<xs:element name="H2G2">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="VIEWING-USER"/>
				<xs:element name="SERVERNAME" type="xs:string" />
				<xs:element name="USERAGENT" type="xs:string" />
				<xs:element name="DATE">
				</xs:element>
				<xs:element ref="COMMENTFORUMLIST" minOccurs="0"/>
				<xs:element name="EDITOR-SITE-LIST">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="SITE-LIST">
								<xs:complexType>
									<xs:sequence>
										<xs:element maxOccurs="unbounded" name="SITE">
											<xs:complexType>
												<xs:sequence>
													<xs:element name="NAME" type="xs:string" />
													<xs:element name="DESCRIPTION" type="xs:string" />
													<xs:element name="SHORTNAME" type="xs:string" />
													<xs:element name="SSOSERVICE" type="xs:string" />
												</xs:sequence>
												<xs:attribute name="ID" type="xs:unsignedByte" use="required" />
											</xs:complexType>
										</xs:element>
									</xs:sequence>
								</xs:complexType>
							</xs:element>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				<xs:element name="PARAMS" />
				<xs:element name="SITE">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="NAME" type="xs:string" />
							<xs:element name="SSOSERVICE" type="xs:string" />
							<xs:element name="MINAGE" type="xs:unsignedByte" />
							<xs:element name="MAXAGE" type="xs:unsignedByte" />
							<xs:element name="MODERATIONSTATUS" type="xs:unsignedByte" />
							<xs:element name="OPENCLOSETIMES" />
							<xs:element name="SITECLOSED">
								<xs:complexType>
									<xs:simpleContent>
										<xs:extension base="xs:unsignedByte">
											<xs:attribute name="EMERGENCYCLOSED" type="xs:unsignedByte" use="required" />
											<xs:attribute name="SCHEDULEDCLOSED" type="xs:unsignedByte" use="required" />
										</xs:extension>
									</xs:simpleContent>
								</xs:complexType>
							</xs:element>
							<xs:element name="SITEOPTIONS">
								<xs:complexType>
									<xs:sequence>
										<xs:element maxOccurs="unbounded" name="SITEOPTION">
											<xs:complexType>
												<xs:sequence>
													<xs:element name="SECTION" type="xs:string" />
													<xs:element name="NAME" type="xs:string" />
													<xs:element name="VALUE" type="xs:unsignedShort" />
													<xs:element name="TYPE" type="xs:unsignedByte" />
													<xs:element name="DESCRIPTION" type="xs:string" />
												</xs:sequence>
												<xs:attribute name="GLOBAL" type="xs:unsignedByte" use="required" />
											</xs:complexType>
										</xs:element>
									</xs:sequence>
								</xs:complexType>
							</xs:element>
						</xs:sequence>
						<xs:attribute name="ID" type="xs:unsignedByte" use="required" />
					</xs:complexType>
				</xs:element>
				<xs:element name="TIMEFORPAGE" type="xs:unsignedByte" />
				<xs:element name="TRACKEDPARAMETERS">
					<xs:complexType>
						<xs:sequence>
							<xs:element maxOccurs="unbounded" name="PARAMETER">
								<xs:complexType>
									<xs:sequence>
										<xs:element name="DESCRIPTION" type="xs:string" />
										<xs:element name="STACKTRACE">
											<xs:complexType>
												<xs:sequence>
													<xs:element maxOccurs="unbounded" name="STACKFRAME">
														<xs:complexType>
															<xs:sequence>
																<xs:element name="FILENAME" type="xs:string" />
																<xs:element name="LINENO" type="xs:unsignedShort" />
																<xs:element name="METHOD" type="xs:string" />
																<xs:element name="TYPE" type="xs:string" />
															</xs:sequence>
														</xs:complexType>
													</xs:element>
												</xs:sequence>
											</xs:complexType>
										</xs:element>
									</xs:sequence>
									<xs:attribute name="NAME" type="xs:string" use="required" />
									<xs:attribute name="CALLINGMETHOD" type="xs:string" use="required" />
									<xs:attribute name="CALLEDBY" type="xs:string" use="required" />
									<xs:attribute name="CALLINGTYPE" type="xs:string" use="required" />
									<xs:attribute name="ISCOMPONENT" type="xs:unsignedByte" use="optional" />
								</xs:complexType>
							</xs:element>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
			</xs:sequence>
			<xs:attribute name="TYPE" type="xs:string" use="required" />
		</xs:complexType>
	</xs:element>
</xs:schema>