Production/Source/Schemas/OnlineUsers.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<xs:element name="ONLINEUSERS">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="WEIRD" minOccurs="0" type="xs:string"/>
				<xs:element maxOccurs="unbounded" name="ONLINEUSER" minOccurs="0">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="USER">
								<xs:complexType>
									<xs:sequence>
										<xs:element name="USERID" type="xs:unsignedInt" />
										<xs:element name="EDITOR" type="xs:unsignedByte" />
										<xs:element name="USERNAME" type="xs:string" />
									</xs:sequence>
								</xs:complexType>
							</xs:element>
							<xs:element name="DAYSSINCEJOINED" type="xs:decimal" />
						</xs:sequence>
					</xs:complexType>
				</xs:element>
			</xs:sequence>
			<xs:attribute name="THISSITE" type="xs:unsignedByte" use="optional" />
			<xs:attribute name="ORDER-BY" type="xs:string" use="optional" />
		</xs:complexType>
	</xs:element>
</xs:schema>