Production/Source/Schemas/RefereeList.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<xs:element name="REFEREE-LIST">
		<xs:complexType>
			<xs:sequence>
				<xs:element maxOccurs="unbounded" name="REFEREE">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="USER">
								<xs:complexType>
									<xs:sequence>
										<xs:element name="USERID" type="xs:unsignedInt" />
										<xs:element name="USERNAME" type="xs:string" />
									</xs:sequence>
								</xs:complexType>
							</xs:element>
							<xs:element maxOccurs="unbounded" name="SITEID" type="xs:unsignedByte" />
						</xs:sequence>
					</xs:complexType>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>