Production/Source/Schemas/RelatedArticles.xsd

<?xml version="1.0" encoding="iso-8859-1"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<xs:include schemaLocation="user.xsd"/>
	<xs:include schemaLocation="date.xsd"/>
  <xs:include schemaLocation="extrainfo.xsd"/>
	<xs:element name="RELATEDARTICLES">
		<xs:complexType>
			<xs:sequence>
				<xs:element maxOccurs="unbounded" name="ARTICLEMEMBER" minOccurs="0">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="H2G2ID" type="xs:unsignedInt" />
							<xs:element name="NAME" type="xs:string" />
							<xs:element name="STRIPPEDNAME" type="xs:string" />
							<xs:element name="EDITOR">
								<xs:complexType mixed="true">
									<xs:sequence>
										<xs:element ref="USER" />
									</xs:sequence>
								</xs:complexType>
							</xs:element>
							<xs:element name="STATUS">
								<xs:complexType>
									<xs:simpleContent>
										<xs:extension base="xs:string">
											<xs:attribute name="TYPE" type="xs:unsignedByte" use="required" />
										</xs:extension>
									</xs:simpleContent>
								</xs:complexType>
							</xs:element>
							<xs:element ref="EXTRAINFO" minOccurs="0" />
							<xs:element name="TYPE" type="xs:string" minOccurs="0" />
							<xs:element name="DATECREATED">
								<xs:complexType>
									<xs:sequence>
										<xs:element ref="DATE" />
									</xs:sequence>
								</xs:complexType>
							</xs:element>
							<xs:element name="LASTUPDATED">
								<xs:complexType>
									<xs:sequence>
										<xs:element ref="DATE" />
									</xs:sequence>
								</xs:complexType>
							</xs:element>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>