Production/Source/Schemas/SubscribeState.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<xs:element name="SUBSCRIBE-STATE">
		<xs:complexType>
			<xs:attribute name="USERID" type="xs:integer" use="required" />
			<xs:attribute name="FORUMID" type="xs:unsignedInt" use="required" />
			<xs:attribute name="THREADID" type="xs:unsignedInt" use="required" />
			<xs:attribute name="THREAD" type="xs:unsignedInt" use="required" />
			<xs:attribute name="LASTPOSTCOUNTREAD" type="xs:unsignedInt" use="optional" />
			<xs:attribute name="LASTUSERPOSTID" type="xs:unsignedInt" use="optional" />
			<xs:attribute name="FORUM" type="xs:unsignedByte" use="required" />
		</xs:complexType>
	</xs:element>
</xs:schema>