Production/Source/Schemas/UserComplaintUrl.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="USERCOMPLAINT">
    <xs:complexType>
      <xs:attribute name="URL" type="xs:string" use="required" />
      <xs:attribute name="MODID" type="xs:unsignedInt" use="required" />
    </xs:complexType>
  </xs:element>
</xs:schema>