Production/Source/Schemas/zeitgeistevent.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--W3C Schema generated by XMLSPY v5 rel. 2 U (http://www.xmlspy.com)-->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified">
	<xs:element name="ZEITGEISTEVENT">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="DESCRIPTION" type="Event_Zeitgeist_Description" minOccurs="1" maxOccurs="1"/>
				<xs:element name="SITEID" type="xs:int" minOccurs="1" maxOccurs="1"/>
				<xs:element name="ENTRYID" type="xs:int" minOccurs="0" maxOccurs="1"/>
				<xs:element name="NODEID" type="xs:int" minOccurs="0" maxOccurs="1"/>
				<xs:element name="USERID" type="xs:int" minOccurs="0" maxOccurs="1"/>
				<xs:element name="THREADID" type="xs:int" minOccurs="0" maxOccurs="1"/>
				<xs:element name="FORUMID" type="xs:int" minOccurs="0" maxOccurs="1"/>
				<xs:element name="CLUBID" type="xs:int" minOccurs="0" maxOccurs="1"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:simpleType name="Event_Zeitgeist_Description">
		<xs:restriction base="xs:string">
			<xs:enumeration value="Rating">
				<xs:annotation>
					<xs:documentation>Order by rating.</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="Caption">
				<xs:annotation>
					<xs:documentation>Order by article caption.</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="StartDate">
				<xs:annotation>
					<xs:documentation>Order by article start date.</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="ArticleZeitgeist">
				<xs:annotation>
					<xs:documentation>Order by article zeitgeist.</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="PostCount">
				<xs:annotation>
					<xs:documentation>Order by number of posts.</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="">
				<xs:annotation>
					<xs:documentation>Default</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
		</xs:restriction>
	</xs:simpleType>
</xs:schema>
