Main/Source/Schemas/CrumbTrails.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<xs:element name="CRUMBTRAILS">
		<xs:complexType>
			<xs:sequence>
				<xs:element maxOccurs="unbounded" name="CRUMBTRAIL" minOccurs="0">
					<xs:complexType>
						<xs:sequence>
							<xs:element maxOccurs="unbounded" name="ANCESTOR">
								<xs:complexType>
									<xs:sequence>
										<xs:element name="NODEID" type="xs:unsignedShort" />
										<xs:element name="NAME" type="xs:string" />
										<xs:element name="TREELEVEL" type="xs:unsignedByte" />
										<xs:element name="NODETYPE" type="xs:unsignedByte" />
									</xs:sequence>
								</xs:complexType>
							</xs:element>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>
