Main/Source/Schemas/flickrlink.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<xs:element name="FLICKR">
		<xs:annotation>
			<xs:documentation>DNA's XML for an external flickr linked image. </xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:sequence>
				<xs:element name="FARMPATH" type="xs:string" />
				<xs:element name="SERVER" type="xs:unsignedShort" />
				<xs:element name="ID" type="xs:unsignedInt" />
				<xs:element name="SECRET" type="xs:string" />
				<xs:element name="SIZE" type="xs:string" />
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>