Main/Source/Schemas/Journal.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<xs:include schemaLocation="User.xsd" />
	<xs:include schemaLocation="Date.xsd" />
	<xs:element name="JOURNAL">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="JOURNALPOSTS">
					<xs:complexType>
						<xs:sequence>
							<xs:element minOccurs="0" maxOccurs="unbounded" name="POST">
								<xs:complexType>
									<xs:sequence>
										<xs:element name="SUBJECT" type="xs:string" />
										<xs:element name="DATEPOSTED">
											<xs:complexType>
												<xs:sequence>
													<xs:element ref="DATE"/>
												</xs:sequence>
											</xs:complexType>
										</xs:element>
										<xs:element name="LASTREPLY">
											<xs:complexType>
												<xs:sequence>
													<xs:element ref="DATE"/>
												</xs:sequence>
												<xs:attribute name="COUNT" type="xs:unsignedByte" use="required" />
											</xs:complexType>
										</xs:element>
										<xs:element ref="USER"/>
										<xs:element name="TEXT">
											<xs:complexType mixed="true">
												<xs:sequence>
													<xs:choice minOccurs="0" maxOccurs="unbounded">
														<xs:element name="LINK">
															<xs:complexType>
																<xs:simpleContent>
																	<xs:extension base="xs:string">
																		<xs:attribute name="HREF" type="xs:string" use="optional" />
																		<xs:attribute name="BIO" type="xs:string" use="optional" />
																	</xs:extension>
																</xs:simpleContent>
															</xs:complexType>
														</xs:element>
														<xs:element minOccurs="0" maxOccurs="unbounded" name="BR" />
													</xs:choice>
												</xs:sequence>
											</xs:complexType>
										</xs:element>
									</xs:sequence>
									<xs:attribute name="POSTID" type="xs:unsignedInt" use="required" />
									<xs:attribute name="THREADID" type="xs:unsignedInt" use="required" />
									<xs:attribute name="HIDDEN" type="xs:unsignedByte" use="required" />
								</xs:complexType>
							</xs:element>
						</xs:sequence>
						<xs:attribute name="FORUMID" type="xs:string" use="required" />
						<xs:attribute name="SKIPTO" type="xs:unsignedByte" use="required" />
						<xs:attribute name="COUNT" type="xs:unsignedByte" use="required" />
						<xs:attribute name="TOTALTHREADS" type="xs:unsignedByte" use="required" />
						<xs:attribute name="CANREAD" type="xs:unsignedByte" use="required" />
						<xs:attribute name="CANWRITE" type="xs:unsignedByte" use="required" />
						<xs:attribute name="MORE" type="xs:unsignedByte" use="optional" />
						<xs:attribute name="DEFAULTCANREAD" type="xs:unsignedByte" use="required" />
						<xs:attribute name="DEFAULTCANWRITE" type="xs:unsignedByte" use="required" />
					</xs:complexType>
				</xs:element>
			</xs:sequence>
			<xs:attribute name="USERID" type="xs:string" use="required" />
		</xs:complexType>
	</xs:element>
</xs:schema>