Main/Source/Schemas/Links.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<xs:element name="LINKS">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="CLUBS-ARTICLE-LINKS-TO">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="GROUP" />
						</xs:sequence>
					</xs:complexType>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>