Main/Source/Schemas/ProfanityData.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="profanityData">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="siteData">
          <xs:complexType>
            <xs:sequence>
              <xs:element maxOccurs="unbounded" name="s">
                <xs:complexType>
                  <xs:attribute name="shortname" type="xs:string" use="required" />
                  <xs:attribute name="siteid" type="xs:unsignedByte" use="required" />
                  <xs:attribute name="modclassid" type="xs:unsignedByte" use="required" />
                  <xs:attribute name="description" type="xs:string" use="required" />
                  <xs:attribute name="urlname" type="xs:string" use="required" />
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="profanities">
          <xs:complexType>
            <xs:sequence>
              <xs:element maxOccurs="unbounded" name="P">
                <xs:complexType>
                  <xs:attribute name="ProfanityID" type="xs:unsignedShort" use="required" />
                  <xs:attribute name="Profanity" type="xs:string" use="required" />
                  <xs:attribute name="ModClassID" type="xs:unsignedByte" use="required" />
                  <xs:attribute name="Refer" type="xs:unsignedByte" use="required" />
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>