Main/Source/Schemas/SystemMessageMailbox.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<xs:include schemaLocation="Message.xsd"/>
	<xs:element name="SYSTEMMESSAGEMAILBOX">
		<xs:complexType>
			<xs:sequence>
				<xs:element maxOccurs="unbounded" minOccurs="0" ref="MESSAGE"/>
			</xs:sequence>
			<xs:attribute name="USERID" type="xs:unsignedByte" use="required" />
			<xs:attribute name="SKIPTO" type="xs:unsignedByte" use="required" />
			<xs:attribute name="SHOW" type="xs:unsignedByte" use="required" />
			<xs:attribute name="TOTALCOUNT" type="xs:unsignedByte" use="required" />
		</xs:complexType>
	</xs:element>
</xs:schema>