Main/Source/Schemas/TermList.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
<xs:element name="TERMSLIST">
  <xs:complexType>
    <xs:sequence>
      <xs:element maxOccurs="unbounded" name="TERM">
        <xs:complexType>
          <xs:simpleContent>
            <xs:extension base="xs:string">
              <xs:attribute name="ID" type="xs:unsignedShort" use="required" />
              <xs:attribute name="ACTION" type="xs:string" use="required" />
              <xs:attribute name="TERM" type="xs:string" use="required" />
			  <xs:attribute name="ModClassID" type="xs:unsignedShort" use="required" />
			  <xs:attribute name="ForumID" type="xs:unsignedShort" use="required" />
            </xs:extension>
          </xs:simpleContent>
        </xs:complexType>
      </xs:element>
    </xs:sequence>
    <xs:attribute name="MODCLASSID" type="xs:unsignedByte" use="required" />
	<xs:attribute name="FORUMID" type="xs:unsignedByte" use="required" />
  </xs:complexType>
</xs:element>
</xs:schema>
