Main/Source/Schemas/UISupportedBuilders.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<xs:include schemaLocation="UIFields.xsd"/>
	<xs:element name="UISUPPORTEDBUILDERS">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="BUILDER">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="BUILDERNAME" type="xs:string" />
							<xs:element name="BUILDERGUID" type="xs:string" />
							<xs:element ref="UIFIELDS"/>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				<xs:element name="UISELECTEDBUILDER" minOccurs="0">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="BUILDERNAME" type="xs:string" />
							<xs:element name="BUILDERGUID" type="xs:string" />
							<xs:element ref="UIFIELDS"/>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>