Production/Source/Schemas/Dna.Services/user.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:i="http://www.w3.org/2001/XMLSchema-instance" attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="BBC.Dna.Api" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns="BBC.Dna.Api">
	<xs:element name="user">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="userId" type="xs:unsignedInt" />
				<xs:element name="displayName" type="xs:string" />
				<xs:element name="editor" type="xs:boolean" />
        <xs:element name="notable" type="xs:boolean" />
        <xs:element name="bbcId" type="xs:unsignedInt" />
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>
