Main/Backup/Source/Schemas/Dna.Services.Forums/forumSource.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<xs:include schemaLocation="../Dna.Services.Articles/article.xsd"/>
	<xs:element name="forumSource">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="actualForumId" type="xs:unsignedByte" />
				<xs:element name="alertInstantly" type="xs:unsignedByte" />
				<xs:element ref="article"/>
				<xs:element name="h2g2Id" type="xs:unsignedShort" />
				<xs:element name="type" type="xs:string" />
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>