Main/Backup/Source/Schemas/Dna.Services/thread.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:i="http://www.w3.org/2001/XMLSchema-instance" attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="BBC.Dna.Api" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns="BBC.Dna.Api">
	<xs:include schemaLocation="rating.xsd"/>
	<xs:element name="thread">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="id" type="xs:unsignedByte" />
				<xs:element name="count" type="xs:unsignedByte" />
				<xs:element ref="rating" />
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>