Release/Source/Schemas/ArticleInfoReferences.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<xs:element name="REFERENCES">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="ENTRIES" minOccurs="0">
					<xs:complexType>
						<xs:sequence>
							<xs:element maxOccurs="unbounded" name="ENTRYLINK" minOccurs="0">
								<xs:complexType>
									<xs:sequence>
										<xs:element name="H2G2ID" type="xs:unsignedInt" />
										<xs:element name="SUBJECT" type="xs:string" />
									</xs:sequence>
									<xs:attribute name="H2G2" type="xs:string" use="required" />
								</xs:complexType>
							</xs:element>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				<xs:element name="EXTERNAL" minOccurs="0">
					<xs:complexType>
						<xs:sequence>
							<xs:element maxOccurs="unbounded" name="EXTERNALLINK"  minOccurs="0">
								<xs:complexType>
									<xs:sequence>
										<xs:element name="OFFSITE" type="xs:string" />
										<xs:element name="TITLE" type="xs:string" />
									</xs:sequence>
									<xs:attribute name="UINDEX" type="xs:unsignedByte" use="required" />
								</xs:complexType>
							</xs:element>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				<xs:element name="USERS" minOccurs="0">
					<xs:complexType>
						<xs:sequence>
							<xs:element maxOccurs="unbounded" name="USERLINK" minOccurs="0">
								<xs:complexType>
									<xs:sequence>
										<xs:element name="USERID" type="xs:unsignedShort" />
										<xs:element name="USERNAME" type="xs:string" />
									</xs:sequence>
									<xs:attribute name="H2G2" type="xs:string" use="required" />
								</xs:complexType>
							</xs:element>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				<xs:element name="BBC" minOccurs="0">
					<xs:complexType>
						<xs:sequence>
							<xs:element maxOccurs="unbounded" name="BBCLINK"  minOccurs="0">
								<xs:complexType>
									<xs:sequence>
										<xs:element name="OFFSITE" type="xs:string" />
										<xs:element name="TITLE" type="xs:string" />
									</xs:sequence>
									<xs:attribute name="UINDEX" type="xs:unsignedByte" use="required" />
								</xs:complexType>
							</xs:element>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>
