Release/Source/Schemas/Cmd.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<xs:include schemaLocation="Message.xsd"/>
	<xs:element name="CMD">
		<xs:complexType>
			<xs:sequence>
				<xs:element maxOccurs="unbounded" minOccurs="0" ref="MESSAGE"/>
			</xs:sequence>
			<xs:attribute name="ACTION" type="xs:string" use="required" />
			<xs:attribute name="RESULT" type="xs:unsignedByte" use="required" />
		</xs:complexType>
	</xs:element>
</xs:schema>
