Release/Source/Schemas/H2G2MemberDetailsAdmin.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:include schemaLocation="ViewingUser.xsd"/>
  <xs:include schemaLocation="MemberDetailsList.xsd"/>
  <xs:include schemaLocation="Date.xsd"/>
  <xs:include schemaLocation="SiteConfig.xsd"/>
  <xs:include schemaLocation="UserModStatuses.xsd"/>
  <xs:include schemaLocation="Site.xsd"/>
  <xs:include schemaLocation="TrackedParameters.xsd"/>
  <xs:element name="H2G2">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="VIEWING-USER" />
        <xs:element name="SERVERNAME" type="xs:string" />
        <xs:element name="USERAGENT" type="xs:string" />
        <xs:element ref="DATE"/>
        <xs:element ref="SITECONFIG"/>
        <xs:element ref="MEMBERDETAILSLIST"/>
        <xs:element ref="USER-STATUSES"/>
        <xs:element name="PARAMS" />
        <xs:element ref="SITE"/>
        <xs:element name="TIMEFORPAGE" type="xs:int"/>
        <xs:element ref="TRACKEDPARAMETERS"/>
      </xs:sequence>
      <xs:attribute name="TYPE" type="xs:string" use="required"/>
    </xs:complexType>
  </xs:element>
</xs:schema>