Release/Source/Schemas/PageAuthor.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<xs:include schemaLocation="user.xsd"/>
	<xs:include schemaLocation="Date.xsd"/>
	<xs:include schemaLocation="ExtraInfo.xsd"/>
	<xs:include schemaLocation="relatedclubs.xsd"/>
	<xs:include schemaLocation="relatedarticles.xsd"/>
	<xs:include schemaLocation="crumbtrails.xsd"/>
	<xs:element name="PAGEAUTHOR">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="RESEARCHERS">
								<xs:complexType>
									<xs:sequence>
										<xs:element ref="USER" minOccurs="0" maxOccurs="unbounded"/>
									</xs:sequence>
								</xs:complexType>
							</xs:element>
							<xs:element name="EDITOR">
								<xs:complexType>
									<xs:sequence>
										<xs:element ref="USER" />
									</xs:sequence>
								</xs:complexType>
							</xs:element>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				
</xs:schema>