Release/Source/Schemas/Result.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<xs:element name="RESULT">
		<xs:annotation>
			<xs:documentation>Information about the result of an action. </xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:sequence>
        <xs:element name="MESSAGE" type="xs:string"/>
        <xs:element name="EXTRAINFO" type="xs:string" minOccurs="0"/>
      </xs:sequence>
      <xs:attribute name="TYPE" type="xs:string" use="required">
        <xs:annotation>
          <xs:documentation>The type of action.</xs:documentation>
        </xs:annotation>
      </xs:attribute>
    </xs:complexType>
	</xs:element>
</xs:schema>
