Release/Source/Schemas/SiteManager.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="SITEMANAGER">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="URLNAME" type="xs:string" />
        <xs:element name="SAMPLEURL" type="xs:string" minOccurs="0" />
        <xs:element name="SHORTNAME" type="xs:string" />
        <xs:element name="SSOSERVICE" type="xs:string" />
        <xs:element name="DESCRIPTION" type="xs:string" />
        <xs:element name="DEFAULTSKIN" type="xs:string" />
        <xs:element name="SKINSET" type="xs:string" />
        <xs:element name="MODERATORSEMAIL" type="xs:string" />
        <xs:element name="EDITORSEMAIL" type="xs:string" />
        <xs:element name="FEEDBACKEMAIL" type="xs:string" />
        <xs:element name="PASSWORDED" type="xs:unsignedByte" />
        <xs:element name="PREMODERATED" type="xs:unsignedByte" />
        <xs:element name="UNMODERATED" type="xs:unsignedByte" />
        <xs:element name="INCLUDECRUMBTRAIL" type="xs:unsignedByte" />
        <xs:element name="ARTICLEFORUMSTYLE" type="xs:unsignedByte" />
        <xs:element name="ALLOWREMOVEVOTE" type="xs:unsignedByte" />
        <xs:element name="ALLOWPOSTCODESINSEARCH" type="xs:unsignedByte" />
        <xs:element name="QUEUEPOSTINGS" type="xs:unsignedByte" />
        <xs:element name="AUTOMESSAGEUSERID" type="xs:unsignedShort" />
        <xs:element name="EVENTALERTMESSAGEUSERID" type="xs:unsignedByte" />
        <xs:element name="EVENTEMAILSUBJECT" />
        <xs:element name="THREADEDITTIMELIMIT" type="xs:unsignedByte" />
        <xs:element name="THREADSORTORDER" type="xs:unsignedByte" />
        <xs:element name="CUSTOMTERMS" type="xs:unsignedByte" />
        <xs:element name="NOAUTOSWITCH" type="xs:unsignedByte" />
        <xs:element name="MODERATIONCLASSID" type="xs:unsignedByte" />
        <xs:element name="CURRENTIDENTITYPOLICY" type="xs:string" />
        <xs:element name="BBCDIVISION" type="xs:int" />
        <xs:element name="CONTACTFORMSEMAIL" type="xs:string" />
        <xs:element name="RISKMODONOFF" type="xs:boolean" />
        <xs:element name="RISKMODPUBLISHMETHOD">
          <xs:simpleType>
            <xs:restriction base="xs:string">
              <xs:enumeration value="A"/>
              <xs:enumeration value="B"/>
            </xs:restriction>
          </xs:simpleType>
        </xs:element>
        <xs:element name="IDENTITYPOLICIES">
          <xs:complexType>
            <xs:sequence>
              <xs:element maxOccurs="unbounded" name="POLICY" type="xs:string" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
      <xs:attribute name="SITEID" type="xs:unsignedByte" use="required" />
    </xs:complexType>
  </xs:element>
</xs:schema>