Release/Source/Schemas/SubscribeResult.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<xs:element name="SUBSCRIBE-RESULT">
		<xs:complexType>
			<xs:simpleContent>
				<xs:extension base="xs:string">
					<xs:attribute name="JOURNAL" type="xs:unsignedInt" use="optional" />
					<xs:attribute name="TOTHREAD" type="xs:unsignedInt" use="optional" />
					<xs:attribute name="FROMTHREAD" type="xs:unsignedInt" use="optional" />
					<xs:attribute name="TOFORUM" type="xs:unsignedInt" use="optional" />
					<xs:attribute name="FROMFORUM" type="xs:unsignedInt" use="optional" />
					<xs:attribute name="FAILED" type="xs:unsignedByte" use="optional" />
				</xs:extension>
			</xs:simpleContent>
		</xs:complexType>
	</xs:element>
</xs:schema>