Main/Backup/Source/Schemas/ArticleInfoSubmittable.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<xs:include schemaLocation="reviewforum.xsd"/>
	<xs:element name="SUBMITTABLE">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="REVIEWFORUM"  minOccurs="0"/>
				<xs:element name="FORUM" minOccurs="0">
					<xs:complexType>
						<xs:attribute name="ID" type="xs:unsignedShort" use="required" />
					</xs:complexType>
				</xs:element>
				<xs:element name="THREAD" minOccurs="0">
					<xs:complexType>
						<xs:attribute name="ID" type="xs:unsignedInt" use="required" />
					</xs:complexType>
				</xs:element>
				<xs:element name="POST" minOccurs="0">
					<xs:complexType>
						<xs:attribute name="ID" type="xs:unsignedInt" use="required" />
					</xs:complexType>
				</xs:element>
			</xs:sequence>
			<xs:attribute name="TYPE" type="xs:string" use="required" />
		</xs:complexType>
	</xs:element>
</xs:schema>