Main/Backup/Source/Schemas/ArticleInfo.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<xs:include schemaLocation="user.xsd"/>
	<xs:include schemaLocation="Date.xsd"/>
	<xs:include schemaLocation="ExtraInfo.xsd"/>
	<xs:include schemaLocation="relatedclubs.xsd"/>
	<xs:include schemaLocation="relatedarticles.xsd"/>
	<xs:include schemaLocation="crumbtrails.xsd"/>
	<xs:include schemaLocation="pageauthor.xsd"/>
	<xs:include schemaLocation="ArticleInfoSubmittable.xsd"/>
	<xs:include schemaLocation="ArticleInfoReferences.xsd"/>
	<xs:element name="ARTICLEINFO">
		<xs:complexType>
			<xs:all>
				<xs:element name="STATUS">
					<xs:complexType>
						<xs:simpleContent>
							<xs:extension base="xs:string">
								<xs:attribute name="TYPE" type="xs:unsignedByte" use="required" />
							</xs:extension>
						</xs:simpleContent>
					</xs:complexType>
				</xs:element>
				<xs:element name="H2G2ID" type="xs:unsignedInt" />
				<xs:element name="FORUMID" type="xs:unsignedInt" />
				<xs:element name="SITE">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="ID" type="xs:unsignedByte" />
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				<xs:element name="SITEID" type="xs:unsignedByte" />
				<xs:element name="MODERATIONSTATUS">
					<xs:complexType>
						<xs:simpleContent>
							<xs:extension base="xs:string">
								<xs:attribute name="ID" type="xs:int" use="optional" />
							</xs:extension>
						</xs:simpleContent>
					</xs:complexType>
				</xs:element>
				<xs:element ref="PAGEAUTHOR" />
				<xs:element name="DATECREATED">
					<xs:complexType>
						<xs:sequence>
							<xs:element ref="DATE" />
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				<xs:element name="LASTUPDATED">
					<xs:complexType>
						<xs:sequence>
							<xs:element ref="DATE" />
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				<xs:element name="RELATEDMEMBERS">
					<xs:complexType>
						<xs:sequence>
							<xs:element ref="RELATEDCLUBS" />
							<xs:element ref="RELATEDARTICLES" />
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				<xs:element name="PREPROCESSED" type="xs:unsignedByte" />
				<xs:element ref="CRUMBTRAILS" minOccurs="0"/>
				<xs:element ref="REFERENCES" minOccurs="0" />
				<xs:element ref="SUBMITTABLE" minOccurs="0" />
			</xs:all>
		</xs:complexType>
	</xs:element>
</xs:schema>