Main/Backup/Source/Schemas/Moderator-List.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:include schemaLocation="Date.xsd"/>
  <xs:include schemaLocation="User.xsd"/>
  <xs:element name="MODERATOR-LIST">
    <xs:complexType>
      <xs:sequence>
        <xs:element maxOccurs="unbounded" name="MODERATOR">
          <xs:complexType>
            <xs:sequence>
              <xs:element ref="USER"/>
              <xs:element name="SITES">
                <xs:complexType>
                  <xs:sequence minOccurs="0">
                    <xs:element maxOccurs="unbounded" name="SITE">
                      <xs:complexType>
                        <xs:attribute name="SITEID" type="xs:unsignedByte" use="required" />
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:element name="CLASSES">
                <xs:complexType>
                  <xs:sequence minOccurs="0">
                    <xs:element maxOccurs="unbounded" name="CLASSID" type="xs:unsignedByte" />
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
      <xs:attribute name="GROUPNAME" type="xs:string" use="required" />
    </xs:complexType>
  </xs:element>
</xs:schema>
