Main/Backup/Source/Schemas/RecentSearch.xsd

<?xml version="1.0" encoding="Windows-1252"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<xs:element name="RECENTSEARCHES">
		<xs:complexType>
			<xs:sequence>
				<xs:element maxOccurs="unbounded" name="SEARCHTERM">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="NAME" type="xs:string" />
							<xs:element name="TYPE" type="xs:string" />
							<xs:element name="TIMESTAMP" type="xs:string" />
							<xs:element name="COUNT" type="xs:unsignedByte" />
						</xs:sequence>
					</xs:complexType>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>