Main/Backup/Source/Schemas/subnotificationemail.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<xs:include schemaLocation="user.xsd"/>
	<xs:element name="EMAIL">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="EMAIL-ADDRESS" />
				<xs:element ref="USER"/>
				<xs:element name="SUBJECT" type="xs:string" />
				<xs:element name="TEXT" type="xs:string" />
			</xs:sequence>
			<xs:attribute name="TYPE" type="xs:string" use="required" />
		</xs:complexType>
	</xs:element>
</xs:schema>