Main/Backup/Source/Schemas/threadsearchphrase.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:include schemaLocation="Phrases.xsd"/>
  <xs:element name="THREADSEARCHPHRASE">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="PHRASES" minOccurs="0" maxOccurs="unbounded">
          <xs:annotation>
            <xs:documentation>Searched for KeyPhrases.</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element name="DEFAULTFORUMID" type="xs:unsignedInt" minOccurs="0" />
        <xs:element name="BOARDPROMOLIST" minOccurs="0" />
        <xs:element name="TEXTBOXLIST" minOccurs="0" />
        <xs:element name="SITEKEYPHRASES" minOccurs="1"/>
        <xs:element name="THREADSEARCH" minOccurs="1">
          <xs:complexType>
            <xs:sequence>
              <xs:element maxOccurs="unbounded" name="THREAD" minOccurs="0">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="THREADID" type="xs:unsignedInt" />
                    <xs:element name="SUBJECT" type="xs:string" />
                    <xs:element name="DATEPOSTED">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element name="DATE">
                            <xs:complexType>
                              <xs:attribute name="DAYNAME" type="xs:string" use="required" />
                              <xs:attribute name="SECONDS" type="xs:unsignedByte" use="required" />
                              <xs:attribute name="MINUTES" type="xs:unsignedByte" use="required" />
                              <xs:attribute name="HOURS" type="xs:unsignedByte" use="required" />
                              <xs:attribute name="DAY" type="xs:unsignedByte" use="required" />
                              <xs:attribute name="MONTH" type="xs:unsignedByte" use="required" />
                              <xs:attribute name="MONTHNAME" type="xs:string" use="required" />
                              <xs:attribute name="YEAR" type="xs:unsignedShort" use="required" />
                              <xs:attribute name="SORT" type="xs:unsignedLong" use="required" />
                              <xs:attribute name="RELATIVE" type="xs:string" use="required" />
                            </xs:complexType>
                          </xs:element>
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                    <xs:element name="LASTPOSTED">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element name="DATE">
                            <xs:complexType>
                              <xs:attribute name="DAYNAME" type="xs:string" use="required" />
                              <xs:attribute name="SECONDS" type="xs:unsignedByte" use="required" />
                              <xs:attribute name="MINUTES" type="xs:unsignedByte" use="required" />
                              <xs:attribute name="HOURS" type="xs:unsignedByte" use="required" />
                              <xs:attribute name="DAY" type="xs:unsignedByte" use="required" />
                              <xs:attribute name="MONTH" type="xs:unsignedByte" use="required" />
                              <xs:attribute name="MONTHNAME" type="xs:string" use="required" />
                              <xs:attribute name="YEAR" type="xs:unsignedShort" use="required" />
                              <xs:attribute name="SORT" type="xs:unsignedLong" use="required" />
                            </xs:complexType>
                          </xs:element>
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                    <xs:element name="TOTALPOSTS" type="xs:unsignedByte" />
                    <xs:element name="TYPE" />
                    <xs:element name="FIRSTPOST">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element name="DATE">
                            <xs:complexType>
                              <xs:attribute name="DAYNAME" type="xs:string" use="required" />
                              <xs:attribute name="SECONDS" type="xs:unsignedByte" use="required" />
                              <xs:attribute name="MINUTES" type="xs:unsignedByte" use="required" />
                              <xs:attribute name="HOURS" type="xs:unsignedByte" use="required" />
                              <xs:attribute name="DAY" type="xs:unsignedByte" use="required" />
                              <xs:attribute name="MONTH" type="xs:unsignedByte" use="required" />
                              <xs:attribute name="MONTHNAME" type="xs:string" use="required" />
                              <xs:attribute name="YEAR" type="xs:unsignedShort" use="required" />
                              <xs:attribute name="SORT" type="xs:unsignedLong" use="required" />
                              <xs:attribute name="RELATIVE" type="xs:string" use="required" />
                            </xs:complexType>
                          </xs:element>
                          <xs:element name="USER">
                            <xs:complexType>
                              <xs:sequence>
                                <xs:element name="USERID" type="xs:unsignedInt" />
                              </xs:sequence>
                            </xs:complexType>
                          </xs:element>
                          <xs:element name="TEXT" type="xs:string" />
                        </xs:sequence>
                        <xs:attribute name="POSTID" type="xs:unsignedInt" use="required" />
                        <xs:attribute name="HIDDEN" type="xs:unsignedByte" use="required" />
                      </xs:complexType>
                    </xs:element>
                    <xs:element name="LASTPOST">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element name="DATE">
                            <xs:complexType>
                              <xs:attribute name="DAYNAME" type="xs:string" use="required" />
                              <xs:attribute name="SECONDS" type="xs:unsignedByte" use="required" />
                              <xs:attribute name="MINUTES" type="xs:unsignedByte" use="required" />
                              <xs:attribute name="HOURS" type="xs:unsignedByte" use="required" />
                              <xs:attribute name="DAY" type="xs:unsignedByte" use="required" />
                              <xs:attribute name="MONTH" type="xs:unsignedByte" use="required" />
                              <xs:attribute name="MONTHNAME" type="xs:string" use="required" />
                              <xs:attribute name="YEAR" type="xs:unsignedShort" use="required" />
                              <xs:attribute name="SORT" type="xs:unsignedLong" use="required" />
                              <xs:attribute name="RELATIVE" type="xs:string" use="required" />
                            </xs:complexType>
                          </xs:element>
                          <xs:element name="USER">
                            <xs:complexType>
                              <xs:sequence>
                                <xs:element name="USERID" type="xs:unsignedInt" />
                              </xs:sequence>
                            </xs:complexType>
                          </xs:element>
                          <xs:element name="TEXT" type="xs:string" />
                        </xs:sequence>
                        <xs:attribute name="POSTID" type="xs:unsignedInt" use="required" />
                        <xs:attribute name="HIDDEN" type="xs:unsignedByte" use="required" />
                      </xs:complexType>
                    </xs:element>
                    <xs:element name="PHRASES">
                      <xs:complexType>
                        <xs:sequence minOccurs="0">
                          <xs:element maxOccurs="unbounded" name="PHRASE">
                            <xs:complexType>
                              <xs:sequence>
                                <xs:element name="NAME" type="xs:string" />
                                <xs:element name="TERM" type="xs:string" />
                              </xs:sequence>
                            </xs:complexType>
                          </xs:element>
                        </xs:sequence>
                        <xs:attribute name="COUNT" type="xs:unsignedByte" use="required" />
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                  <xs:attribute name="FORUMID" type="xs:unsignedInt" use="required" />
                  <xs:attribute name="THREADID" type="xs:unsignedInt" use="required" />
                  <xs:attribute name="INDEX" type="xs:unsignedByte" use="required" />
                  <xs:attribute name="CANREAD" type="xs:unsignedByte" use="required" />
                  <xs:attribute name="CANWRITE" type="xs:unsignedByte" use="required" />
                </xs:complexType>
              </xs:element>
            </xs:sequence>
            <xs:attribute name="SKIPTO" type="xs:unsignedByte" use="required" />
            <xs:attribute name="COUNT" type="xs:unsignedByte" use="required" />
            <xs:attribute name="TOTALTHREADS" type="xs:unsignedShort" use="optional" />
			<xs:attribute name="FORUMPOSTCOUNT" type="xs:unsignedInt" use="required" />
			<xs:attribute name="FORUMPOSTLIMIT" type="xs:unsignedInt" use="required" />
			<xs:attribute name="SITEID" type="xs:unsignedByte" use="required" />
            <xs:attribute name="DEFAULTCANREAD" type="xs:unsignedByte" use="required" />
            <xs:attribute name="DEFAULTCANWRITE" type="xs:unsignedByte" use="required" />
            <xs:attribute name="CANREAD" type="xs:unsignedByte" use="required" />
            <xs:attribute name="CANWRITE" type="xs:unsignedByte" use="required" />
            <xs:attribute name="THREADCANREAD" type="xs:unsignedByte" use="required" />
            <xs:attribute name="THREADCANWRITE" type="xs:unsignedByte" use="required" />
            <xs:attribute name="MORE" type="xs:unsignedByte" use="optional" />
            <xs:attribute name="ALERTINSTANTLY" type="xs:unsignedByte" use="required" />
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="HOT-PHRASES">
    <xs:complexType>
      <xs:sequence>
        <xs:element maxOccurs="unbounded" name="HOT-PHRASE">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="NAME" type="xs:string" />
              <xs:element name="TERM" type="xs:string" />
              <xs:element name="RANK" type="xs:decimal" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
      <xs:attribute name="SKIP" type="xs:unsignedByte" use="required" />
      <xs:attribute name="SHOW" type="xs:unsignedByte" use="required" />
      <xs:attribute name="COUNT" type="xs:unsignedByte" use="required" />
      <xs:attribute name="MORE" type="xs:unsignedByte" use="required" />
    </xs:complexType>
  </xs:element>
</xs:schema>