Main/Backup/Source/Schemas/TopicList.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<xs:element name="TOPICLIST">
		<xs:complexType>
			<xs:sequence>
				<xs:element maxOccurs="unbounded" minOccurs="0" name="TOPIC">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="TOPICID" type="xs:unsignedShort" />
							<xs:element name="H2G2ID" type="xs:unsignedInt" />
							<xs:element name="SITEID" type="xs:unsignedByte" />
							<xs:element name="TOPICSTATUS" type="xs:unsignedByte" />
							<xs:element name="TOPICLINKID" type="xs:unsignedShort" />
							<xs:element name="TITLE" type="xs:string" />
							<xs:element name="FORUMID" type="xs:unsignedInt" />
							<xs:element name="FORUMPOSTCOUNT" type="xs:unsignedByte" />
						</xs:sequence>
					</xs:complexType>
				</xs:element>
			</xs:sequence>
			<xs:attribute name="STATUS" type="xs:string" use="optional" />
		</xs:complexType>
	</xs:element>
</xs:schema>