Main/Backup/Source/Schemas/UITemplate.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<xs:include schemaLocation="UIFields.xsd"/>
	<xs:element name="UITEMPLATE">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="NAME" type="xs:string" />
				<xs:element name="BUILDERGUID" type="xs:string" />
				<xs:element ref="UIFIELDS" />
			</xs:sequence>
			<xs:attribute name="UITEMPLATEID" type="xs:unsignedByte" use="required" />
		</xs:complexType>
	</xs:element>
</xs:schema>